@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: 'Thunder';
  src: url('/fonts/Thunder-ThinLC.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'Thunder';
  src: url('/fonts/Thunder-ExtraLightLC.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'Thunder';
  src: url('/fonts/Thunder-LC.ttf') format('truetype');
  font-weight: 400; /* Regular */
}

@font-face {
  font-family: 'Thunder';
  src: url('/fonts/Thunder-MediumLC.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Thunder';
  src: url('/fonts/Thunder-SemiBoldLC.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Thunder';
  src: url('/fonts/Thunder-BoldLC.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Thunder';
  src: url('/fonts/Thunder-ExtraBoldLC.ttf') format('truetype');
  font-weight: 800;
}

html {
  scroll-behavior: smooth;
}

body{
  font-family: 'Thunder', sans-serif;
}

/* /public/headerImage */
.header {
  background-image: url('/sun.svg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}


.poppins {
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.light-circle-right {
  background-image: url('/light.svg');
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}



.text-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}